doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title The Gauntlet | Kloe the Developer
  link(href="./css/bootstrap.min.css" rel="stylesheet")
  block js
  //- link(href="./css/bootstrap.min.css" rel="stylesheet")
body.container
  block content
