extends _layout

block js
  script(src="./js/setup.js" defer)

block content
  // Begin the page
  h1 Welcome to The Gauntlet
  p(style='padding-left: 20px') You are about to embark on a difficult fight.
  p(style='padding-left: 20px') It will be a fight to the death. Your goal is to survive.

  form(action="/confirm" method="POST")
    //- Name Creation
    p
      label.d-block(for="name") Player Name
      input(type="text" name="name" id="name" placeholder="Claire")
    //- Class Select
    p
      label.d-block(for="classSelect") Class Selection
      select#classSelect
        option(value="mage") Mage - Max HP: 200
        option(value="knight") Knight - Max HP: 250
        option(value="war beast") War Beast - Max HP: 300
    //- Weapon Select
    p
      label.d-block Weapon Selection
      select#weapon
        option(value="fire") Fire
        option(value="ice") Ice
        option(value="lightning") Lightning
    //- Armor Rating
    p
      label.d-block(for="armor") Armor Rating
      input(type="number" name="armor" id="armor" placeholder="123" min="0")
    //- Submit Button
    input(type="submit" value="Start the Game")
